body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#facey {
    float: left;
    width: 234px;
    height: 84px;
    background: url(http://www.flatplanet.com.au/templates/fp_index/images/logo.jpg) no-repeat 0 0;
    display:block;
}

#facey:hover {
    background-position: 0 -32px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
